.codeEditorWrapper {
  width: 100%;
  height: 100%;
}
.codeContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--backgroundColor);
}

.codeContainer .CodeMirror {
  font-size: 1.2rem;
  height: calc(100% - 60px);
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  padding: 5px;
}
.buttonsWrapper .runBtn,
.buttonsWrapper .saveBtn {
  color: var(--greenColor);
  border: 2px solid var(--greenColor);
  padding: 0px 10px;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 900px;
}

.buttonsWrapper .saveBtn {
  color: var(--purpleColor);
  border: 2px solid var(--purpleColor);
}
