.codeEditorWrapper {
  width: 100%;
  height: 100%;
}
.codeContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--backgroundColor);
}

.codeContainer .CodeMirror {
  font-size: 1.2rem;
  height: calc(100% - 60px);
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  padding: 5px;
}
.buttonsWrapper .runBtn,
.buttonsWrapper .saveBtn {
  color: var(--greenColor);
  border: 2px solid var(--greenColor);
  padding: 0px 10px;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 900px;
}

.buttonsWrapper .saveBtn {
  color: var(--purpleColor);
  border: 2px solid var(--purpleColor);
}
.dropdownWrapper {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid white;
  border-radius: 900px;
  padding: 0 5px;
}
.dropdownWrapper select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  font-size: 1rem;
  padding: 10px 1em;
  color: #fff;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
}
.dropdownWrapper select::-ms-expand {
  display: none;
}
.dropdownWrapper::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  padding: 0;
  background-color: transparent;
  transition: 0.25s all ease;
  pointer-events: none;
  color: white;
}
