.codeEditorWrapper {
  width: 100%;
  height: 100%;
}
.codeContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--backgroundColor);
}

.codeContainer header {
  width: 100%;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 10px 10px;
}
.codeContainer .headerDropDownWrapper {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
}
.codeContainer .fileNameWrapper {
  display: flex;
  align-items: center;
}
.codeContainer .fileNameWrapper .filename {
  color: var(--lightWhiteColor);
  font-family: "Courier New", Courier, monospace;
  display: inline-block;
  margin: 0 5px;
}
.codeContainer .CodeMirror {
  font-size: 1.2rem;
  height: calc(85%);
}

.buttonsWrapper {
  display: flex;
  align-items: center;
  padding: 5px;
}
.buttonsWrapper .runBtn,
.buttonsWrapper .saveBtn {
  color: var(--greenColor);
  border: 2px solid var(--greenColor);
  padding: 0px 10px;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 900px;
}

.buttonsWrapper .saveBtn {
  color: var(--purpleColor);
  border: 2px solid var(--purpleColor);
}
