.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .copyRoomIdBtn,
.footer .leaveRoomBtn {
  font-size: 1rem;
  width: 90%;
  border-radius: 10px;
  text-align: center;
  margin: 2px 0;
  min-width: 125px;
}
.footer .copyRoomIdBtn {
  border: 2px solid var(--greenColor);
  color: var(--greenColor);
}
.footer .leaveRoomBtn {
  background-color: #dd2f2f;
  color: white;
  font-weight: 900;
}
.sidebarWrapper .closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0;
}
