* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.joinContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 27, 32);
}
.joinRoomWrapper {
  background: #282a36;
  width: 400px;
  min-width: 290px;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
}
.joinRoomWrapper .heading {
  text-align: center;
  margin: 0 0 1rem 0;
  color: rgb(53, 197, 149);
}
.inputGroup {
  width: 100%;
}
.inputGroup label {
  color: rgb(224, 224, 224);
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin: 1rem 0;
}
.joinRoomWrapper .inputGroup input {
  width: 100%;
  font-size: 1.2rem;
  padding: 5px 15px;
  margin: 10px 0 5px 0;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: rgb(243, 244, 244);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.joinRoomWrapper .joinBtn {
  width: 100px;
  height: max-content;
  margin-left: 70%;
  padding: 7px 20px;
  font-size: 1rem;
  background: rgb(66, 222, 118);
  color: black;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border-radius: 5px;
}
.joinBtn:hover {
  background-color: rgb(74, 197, 74);
}
.joinRoomWrapper p {
  display: block;
  text-align: center;
  margin: 2rem;
  color: white;
  font-family: "Arial Narrow", Arial, sans-serif;
}
.joinRoomWrapper span {
  color: rgb(243, 183, 73);
  font-size: 1rem;
  font-family: "Franklin Gothic Medium";
  cursor: pointer;
}
.joinRoomWrapper a:hover {
  color: rgb(220, 145, 7);
}
